In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("C:/Users/alber/Desktop/Side_projects/load-forcasting-sweden/data/load_se_zones.parquet")

print(df.info())         
print(len(df), "rows")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468475 entries, 0 to 468474
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   date     468475 non-null  datetime64[ns, UTC]
 1   load_mw  468475 non-null  float64
 2   zone     468475 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), object(1)
memory usage: 10.7+ MB
None
468475 rows

In [3]:
print(df.head())         
print(df.tail())
print(df.describe())

# HEAD UP: The time is stored as UTC, convert to local time

                       date  load_mw zone
0 2014-12-31 23:00:00+00:00    966.0  SE1
1 2015-01-01 00:00:00+00:00   1120.0  SE1
2 2015-01-01 01:00:00+00:00   1092.0  SE1
3 2015-01-01 02:00:00+00:00   1059.0  SE1
4 2015-01-01 03:00:00+00:00   1019.0  SE1
                            date  load_mw      zone
468470 2025-09-10 17:00:00+00:00  14142.0  SE_total
468471 2025-09-10 18:00:00+00:00  13724.0  SE_total
468472 2025-09-10 19:00:00+00:00  13300.0  SE_total
468473 2025-09-10 20:00:00+00:00  12637.0  SE_total
468474 2025-09-10 21:00:00+00:00  12020.0  SE_total
             load_mw
count  468475.000000
mean     6148.090434
std      5834.408799
min         0.000000
25%      1552.000000
50%      2653.000000
75%     10745.500000
max     26714.000000